<ul>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %> by <%= 
    if user_signed_in?
    post.user.username
    else
    post.user_id  
    end
     %>
    <ul>
      <li>
        <%= post.body%>
      </li>
    </ul>
  </li>
  <% end %>
</ul>